body {
  font-family: sans-serif;
  line-height: 1.4;
}
/* PRODUCT */
.product {
  border: 4px solid black;
}
.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
}
/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
/* MORE INFOR */
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
/* DETAIL */
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
}
.detail-list {
  list-style: square;
}
.btn-add-cart {
  font-size: 20px;
  text-transform: 20px;
  cursor: pointer;
}
.btn-add-cart:hover {
  background-color: tomato;
}
